workspace/pipeline/reusable/azure-sql/Master ELT ASQL.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderStoredProcedureName": "[ELT].[GetIngestDefinition]",
            "storedProcedureParameters": {
              "MaxIngestInstance": {
                "type": "Int32",
                "value": "100"
              },
              "SourceSystemName": {
                "type": "String",
                "value": {
                  "value": "@pipeline().parameters.SourceSystemName",
                  "type": "Expression"
                }
              },
              "StreamName": {
                "type": "String",
                "value": {
                  "value": "@pipeline().parameters.StreamName",
                  "type": "Expression"
                }
              }
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "AzureSqlTable",
            "typeProperties": {
              "database": "controldb-fabric-accelerator-ab8ed1e6-6394-453c-a261-2f5b561b2ae0"
            },
            "schema": [],
            "externalReferences": {
              "connection": "d41e04ef-2fef-435a-8ce2-82e61a8fd104"
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Tables to Ingest",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": false,
          "items": {
            "value": "@activity('Get Tables to Ingest').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "ExecutePipeline",
              "typeProperties": {
                "pipeline": {
                  "referenceName": "55a0a577-300f-acca-4c21-c4bc38ef7f86",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "IngestID": {
                    "value": "@item().IngestID",
                    "type": "Expression"
                  },
                  "SourceSystemName": {
                    "value": "@item().SourceSystemName",
                    "type": "Expression"
                  },
                  "StreamName": {
                    "value": "@item().StreamName",
                    "type": "Expression"
                  },
                  "EntityName": {
                    "value": "@item().EntityName",
                    "type": "Expression"
                  },
                  "WatermarkColName": {
                    "value": "@item().WatermarkColName",
                    "type": "Expression"
                  },
                  "LastDeltaDate": {
                    "value": "@item().LastDeltaDate",
                    "type": "Expression"
                  },
                  "DataFromTimestamp": {
                    "value": "@item().DataFromTimestamp",
                    "type": "Expression"
                  },
                  "DataToTimestamp": {
                    "value": "@item().DataToTimestamp",
                    "type": "Expression"
                  },
                  "LastDeltaNumber": {
                    "value": "@item().LastDeltaNumber",
                    "type": "Expression"
                  },
                  "DataFromNumber": {
                    "value": "@item().DataFromNumber",
                    "type": "Expression"
                  },
                  "DataToNumber": {
                    "value": "@item().DataToNumber",
                    "type": "Expression"
                  },
                  "DataFormat": {
                    "value": "@item().DataFormat",
                    "type": "Expression"
                  },
                  "SourceStructure": {
                    "value": "@item().SourceStructure",
                    "type": "Expression"
                  },
                  "MaxIntervalMinutes": {
                    "value": "@item().MaxIntervalMinutes",
                    "type": "Expression"
                  },
                  "MaxIntervalNumber": {
                    "value": "@item().MaxIntervalNumber",
                    "type": "Expression"
                  },
                  "DataMapping": {
                    "value": "@item().DataMapping",
                    "type": "Expression"
                  },
                  "RunSequence": {
                    "value": "@item().RunSequence",
                    "type": "Expression"
                  },
                  "ActiveFlag": {
                    "value": "@item().ActiveFlag",
                    "type": "Expression"
                  },
                  "L1TransformationReqdFlag": {
                    "value": "@item().L1TransformationReqdFlag",
                    "type": "Expression"
                  },
                  "L2TransformationReqdFlag": {
                    "value": "@item().L2TransformationReqdFlag",
                    "type": "Expression"
                  },
                  "DelayL1TransformationFlag": {
                    "value": "@item().DelayL1TransformationFlag",
                    "type": "Expression"
                  },
                  "DelayL2TransformationFlag": {
                    "value": "@item().DelayL2TransformationFlag",
                    "type": "Expression"
                  },
                  "DestinationRawFileSystem": {
                    "value": "@item().DestinationRawFileSystem",
                    "type": "Expression"
                  },
                  "DestinationRawFolder": {
                    "value": "@item().DestinationRawFolder",
                    "type": "Expression"
                  },
                  "DestinationRawFile": {
                    "value": "@item().DestinationRawFile",
                    "type": "Expression"
                  },
                  "SourceSQL": {
                    "value": "@item().SourceSQL",
                    "type": "Expression"
                  },
                  "StatSQL": {
                    "value": "@item().StatSQL",
                    "type": "Expression"
                  },
                  "ReloadFlag": {
                    "value": "@item().ReloadFlag",
                    "type": "Expression"
                  },
                  "ADFPipelineRunID": {
                    "value": "@item().ADFPipelineRunID",
                    "type": "Expression"
                  },
                  "BronzeObjectID": {
                    "value": "@pipeline().parameters.BronzeObjectID",
                    "type": "Expression"
                  },
                  "BronzeWorkspaceID": {
                    "value": "@pipeline().parameters.BronzeWorkspaceID",
                    "type": "Expression"
                  },
                  "Backend": {
                    "value": "@item().Backend",
                    "type": "Expression"
                  },
                  "KeyvaultName": {
                    "value": "@item().KeyvaultName",
                    "type": "Expression"
                  },
                  "SecretName": {
                    "value": "@item().SecretName",
                    "type": "Expression"
                  },
                  "JsonDataKey": {
                    "value": "@item().JsonDataKey",
                    "type": "Expression"
                  },
                  "PaginationNextUrlKey": {
                    "value": "@item().PaginationNextUrlKey",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              },
              "policy": {
                "secureInput": false
              },
              "name": "Ingest Table",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach Source Table",
        "dependsOn": [
          {
            "activity": "Get Tables to Ingest",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ExecutePipeline",
        "typeProperties": {
          "pipeline": {
            "referenceName": "0f5d8b36-956a-bc92-4a39-541536dfee77",
            "type": "PipelineReference"
          },
          "parameters": {
            "SourceSystemName": {
              "value": "@pipeline().parameters.SourceSystemName",
              "type": "Expression"
            },
            "StreamName": {
              "value": "@pipeline().parameters.StreamName",
              "type": "Expression"
            },
            "MaxTransformInstance": 100,
            "DelayL1TransformationFlag": {
              "value": "@pipeline().parameters.DelayTransformation",
              "type": "Expression"
            },
            "SilverObjectID": {
              "value": "@pipeline().parameters.SilverObjectID",
              "type": "Expression"
            },
            "SilverWorkspaceID": {
              "value": "@pipeline().parameters.SilverWorkspaceID",
              "type": "Expression"
            }
          },
          "waitOnCompletion": true
        },
        "policy": {
          "secureInput": false
        },
        "name": "Level 1 Transform SILVER",
        "dependsOn": [
          {
            "activity": "ForEach Source Table",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "ExecutePipeline",
        "typeProperties": {
          "pipeline": {
            "referenceName": "bb075d88-b97b-9b9c-4a77-b43f9c3b9bde",
            "type": "PipelineReference"
          },
          "parameters": {
            "SourceSystemName": {
              "value": "@pipeline().parameters.SourceSystemName",
              "type": "Expression"
            },
            "StreamName": {
              "value": "@pipeline().parameters.StreamName",
              "type": "Expression"
            },
            "MaxTransformInstance": 100,
            "DelayL2TransformationFlag": {
              "value": "@pipeline().parameters.DelayTransformation",
              "type": "Expression"
            },
            "GoldObjectID": {
              "value": "@pipeline().parameters.GoldObjectID",
              "type": "Expression"
            },
            "GoldWorkspaceID": {
              "value": "@pipeline().parameters.GoldWorkspaceID",
              "type": "Expression"
            },
            "GoldDWEndpoint": {
              "value": "@pipeline().parameters.GoldDWEndpoint",
              "type": "Expression"
            }
          },
          "waitOnCompletion": true
        },
        "policy": {
          "secureInput": false
        },
        "name": "Level 2 Transform GOLD",
        "dependsOn": [
          {
            "activity": "Level 1 Transform SILVER",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "SourceSystemName": {
        "type": "string",
        "defaultValue": "Public"
      },
      "StreamName": {
        "type": "string"
      },
      "DelayTransformation": {
        "type": "int",
        "defaultValue": 0
      },
      "BronzeObjectID": {
        "type": "string",
        "defaultValue": "9fdcf9e1-101d-47e2-974c-40844f543784"
      },
      "BronzeWorkspaceID": {
        "type": "string",
        "defaultValue": "04cd2e48-2955-4ffc-972b-715d0cfb3cfd"
      },
      "SilverObjectID": {
        "type": "string",
        "defaultValue": "3911ba4f-c46b-48cd-aaf8-b27a2bd49a02"
      },
      "SilverWorkspaceID": {
        "type": "string",
        "defaultValue": "04cd2e48-2955-4ffc-972b-715d0cfb3cfd"
      },
      "GoldObjectID": {
        "type": "string",
        "defaultValue": "e3df5019-9450-4fab-bde7-ca27dccea97a"
      },
      "GoldWorkspaceID": {
        "type": "string",
        "defaultValue": "04cd2e48-2955-4ffc-972b-715d0cfb3cfd"
      },
      "GoldDWEndpoint": {
        "type": "string",
        "defaultValue": "mbpui6de4r2u7jife56vd4kdui-jaxm2bcvfh6e7fzlofoqz6z47u.datawarehouse.fabric.microsoft.com"
      }
    }
  }
}